body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
footer {
    bottom: 0;
    position: fixed;
    background: #e7e7e7;
    float: left;
    width: 100%;
}
.c-txt {
    display: inline-block;
    float: left;
    padding-left: 5px;
    line-height: 32px;
}
.ver-txt {
    line-height: 32px;
}
.logo-f {
    float: left;
}

footer p {
    padding: 0;
    margin: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}