<!doctype html>
<html>
<head>
    <title>404, Page not found!</title>
    <link href="/assets/css/framework.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="body">
    <div class="inner">
        <h2 class="txt-404 txt-center"><span class="big-txt">400</span>, bad request!</h2>
        <p class="txt-center"><%= message %></p>
    </div>
</div>

<footer>
    <div class="inner">
        <p class="right"><span class="ver-txt">v1.0</span></p>
        <p class="left"><img src="/assets/images/framework/logo-xxs.png" width="24" class="logo-f"><span class="c-txt">egg framework, 2016.</span></p>
    </div>
</footer>
</body>
</html>